/* History.css */


.clear-filters-btn {
    margin-top: 0.5rem;
}


.filter-card-margin {
    margin-top: 1rem;
}

.section-header-margin {
    margin-top: 1.5rem;
}

.data-row-divider {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    border-top: 1px dashed var(--border-color);
}

.font-bold {
    font-weight: 700;
}



/* Search Box Styles */
.search-icon-container {
    position: relative;
}

.search-input-wrapper {
    position: relative;
}

.search-input-wrapper input {
    padding-right: 35px;
    width: 100%;
}

.search-icon-absolute {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
}